<%-include('partials/header.ejs')%>
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  <%-include('partials/navigation.ejs')%>
    <h1>Page Not Found</h1>

  <%-include('partials/footer.ejs')%>
